name: AST Github Action CI

on: [ pull_request ]

jobs:
  integration-tests:
    runs-on: ubuntu-latest

    name: Integration Testing
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3.1.0

      - name: Create source file
        run: |
          echo "testcode"> source.py
      - name: Run with empty client and secret
        id: empty_client_secret
        continue-on-error: true
        uses: ./
        with:
          project_name: ${{ github.event.repository.name }}-tests
          base_uri: https://fake.com
          cx_client_id: ""
          cx_client_secret: ""
      - name: Check if failed authentication
        if: ${{contains( steps.empty_client_secret.outcome, 'success')}}
        run: |
          echo "The authentication must fail if invalid client id or password is used"
          echo "${{ steps.empty_client_secret.outcome}}"
          exit 1

      - name: Valid scenario
        id: valid_scenario
        continue-on-error: true
        uses: ./
        with:
          project_name: ${{ github.event.repository.name }}-tests
          base_uri: ${{ secrets.CX_BASE_URI }}
          cx_tenant: ${{ secrets.CX_TENANT }}
          cx_client_id: ${{ secrets.CX_CLIENT_ID }}
          cx_client_secret: ${{ secrets.CX_CLIENT_SECRET }}
          additional_params: --file-include *.sh,Dockerfile --scan-types kics --report-format summaryJSON
      - name: Check if completed
        if: ${{ contains( steps.valid_scenario.outcome, 'success') == false}}
        run: |
          echo "The action outcome should be success."
          echo "${{ steps.valid_scenario.outcome}}"
          exit 1

      - name: Test with preset name
        id: preset_name_test
        continue-on-error: true
        uses: ./
        with:
          project_name: ${{ github.event.repository.name }}-tests
          base_uri: ${{ secrets.CX_BASE_URI }}
          cx_tenant: ${{ secrets.CX_TENANT }}
          cx_client_id: ${{ secrets.CX_CLIENT_ID }}
          cx_client_secret: ${{ secrets.CX_CLIENT_SECRET }}
          additional_params: --sast-preset-name ChekmarxDefaultFake --scan-types sast

      - name: Check if preset name completed
        if: ${{contains( steps.preset_name_test.outcome, 'success')}}
        run: |
          echo "The cli should fail. Wrong preset name provided"
          echo "${{ steps.preset_name_test.outcome}}"
          exit 1

      - name: Checkout
        uses: actions/checkout@v3.0.2
      - name: Checkmarx AST CLI Action
        continue-on-error: true
        id: scan_id_output
        uses: ./
        with:
          base_uri: ${{ secrets.BASE_URI }}
          cx_tenant: ${{ secrets.TENANT }}
          cx_client_id: ${{ secrets.CLIENT_ID }}
          cx_client_secret: ${{ secrets.CLIENT_SECRET }}
          additional_params: --tags galactica-team --threshold "sast-high=1"
        outputs:
          cxScanID: ${{ steps.scan_id_output.outputs.cxScanID }}
      - name: Check if output is filled
        if: (needs.scan_id_output.outputs == "") == false
        run: |
          echo "The action outcome should be success."
          echo "${{ needs.scan_id_output.outputs.cxScanID }}"
          exit 1